.topnav1 a:hover {
  background-color: #a52a2a;
  color: black;
}

.topnav a{
  float: left;
  color: #a52a2a;
  text-align: center;
  padding: 16px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a52a2a;
  color: black;
}

.topnav a.lineeMenu {
  background-color:#a52a2a;
  color:white;
}

.topnav {
  overflow: hidden;
  background-color: #a52a2a;
}

.sidenav {
  height: 100%;
  width: 0px;
  background-color: #a52a2a;
  overflow-x: hidden;
  transition: 0.3s;
  float:left;
  margin-right: 10px;
  
}

.sidenav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  color: white;
  display: block;
 
}

#list{
   height: 450px;
   float:left;


}


.image{
    height: 50px;
    float: right;
    padding: 10px;
}


.sidenav .closebtn {
  margin-left: 180px;
  right: 25px;
  display: unset;
  
}


.footer{
  width: 100%;
  
  text-align: center;
  float:left;
}

.content{
  margin-left: 10px;
}

.table2{
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width: -webkit-fill-available;

}

.tablein{
  margin-top: 30px;
  padding:10px;
}


  
